// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.router-link-exact-active{
  background-color: #4b85ca;
  color:white !important;
}
.widget-user .widget-user-image > img{
  width: 200px;
  height: 200px;
}
.widget-user .widget-user-image{
  position: static;
  margin-left: 0;
  align-self: center;
  margin-top: -60px;
}
.widget-user .widget-user-header{
  display: flex;
  flex-direction: column;
}